{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Mumble\Machine</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Iceport</th>
                <td>{{ entity.icePort }}</td>
            </tr>
            <tr>
                <th>Icesecret</th>
                <td>{{ entity.iceSecret }}</td>
            </tr>
            <tr>
                <th>Query</th>
                <td>{{ entity.query }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('mumble_machine') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('mumble_machine_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
