{# 
 Copyright (C) 2010-2012 Kerouanton Albin, Smedts Jérôme

 This program is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 2 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License along
 with this program; if not, write to the Free Software Foundation, Inc.,
 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#}

{% extends "::layout.html.twig" %}

{% block bundleStylesheets %}
<link rel="stylesheet" media="screen" href="{{ asset('bundles/dpmumbleserver/css/game.css') }}" />
{% endblock %}



{% block title %}
<a href="{{ path('mumble') }}"> 
    <span class="icon" data-icon="&#x29;" title="{{ 'mumble.back'|trans }}"></span>
</a>

    {{ 'steam.title'|trans }}
{% endblock %}

{% block content %}

<h2>{{ 'mumble.title'|trans }}</h2>

<ul id="top-nav" class="nav nav-tabs">
    <li>
        <a href="{{ path('mumble_new') }}">
                {{ 'mumble.add'|trans }}
            </a>
        </li>
    </ul>


    <div id="steam" class="server-list">

        {% for entity in entities %}
        <div class="server-item clearfix">

            {% if entity.getInstallationStatus == '2' %}
                <div class="principal clearfix">
                    <div class="row">
                        <div class="span3">
                            <div class="mumble-image">

                                <a href="{{ path('mumble_show', {'id': entity.id }) }}">
                                    <img src="../images/mumble/mumble.png" alt="mumble" />
                                </a>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="titre">
                                <a href="{{ path('mumble_show', {id: entity.id}) }}">Mumble</a>
                            </div>

                            <div class="description">
                                <span class="address">{{ entity.machine.publicIp }}:{{ entity.portMumble }}</span>
                            </div>
                        </div>
                            
                         <div class="span4">
                            <div class="infos">
                                <div class="actions clearfix">                        
                                    <a href="{{ path('mumble_changeState', { 'id': entity.id, 'state': 'stop' }) }} ">
                                        <span class="icon" data-icon="&#x24;" title="{{ 'game.stop'|trans }}"></span>
                                    </a>
                                    <a  href="{{ path('mumble_changeState', { 'id': entity.id, 'state': 'restart' }) }}">
                                        <span class="icon" data-icon="&#x27;" title="{{ 'game.restart'|trans }}"></span>
                                    </a>

                                    <a  href="{{ path('mumble_changeState', { 'id': entity.id, 'state': 'start' }) }}">
                                        <span class="icon" data-icon="&#x22;" title="{{ 'game.start'|trans }}"></span>
                                    </a>

                                    <a href="{{ path('mumble_show', {id: entity.id}) }}" class="slide">
                                        <span class="icon" data-icon="&#x21;" title="{{ 'mumble.show'|trans }}"></span>
                                    </a>

                                </div>
                            </div> 
                        </div>
                    </div>
                </div>

            {% else %}

                <div class="principal clearfix">
                    <div class="game-image">
                        <a href="{{ path('mumble_show', {'id': entity.id }) }}">
                            <img src="../images/mumble/mumble.png" alt="{{ 'mumble.show'|trans }}" />
                        </a>
                    </div>

                    <div class="infos">
                        <div class="titre">
                            <a href="{{ path('mumble_show', {id: entity.id}) }}">{{ 'mumble.show'|trans }}</a>
                        </div>

                        <div class="description">
                            <span class="address">{{ entity.machine.publicIp }}:{{ entity.portMumble }}</span>
                        </div>

                        <div class="installation">
                            <div class="update-status">
                                <a href="{{ path('mumble_install', {id: entity.id }) }}">
                                    <img src="../images/icones/serveur/install.png" alt="{{ 'mumble.updateStatus'|trans }}">
                                </a>
                                {% if entity.getInstallationStatus == '1' %}{{ 'mumble.installProgress'|trans }}{% endif %}
                                {% if entity.getInstallationStatus == '0' %}{{ 'mumble.installProgressBug'|trans }}{% endif %}
                            </div>
                        </div>
                    </div>
             {% endif %}
            
        </div>
    {% endfor %}

{% endblock %}
